[Unit]
Description=CPUchaind Docker Container
Documentation=https://github.com/cpuchain/docker-cpuchaind
Requires=docker.service
After=docker.service

[Service]
RestartSec=10
Restart=always

# Modify IP6_PREFIX to match network config
Environment="NAME=cpuchaind"
Environment="DATA_VOL=cpuchaind-data"
Environment="IMG=cpuchain/cpuchaind:dev"
Environment="PORT=19706:19706/tcp"

# To override environment variables, use local configuration directory:
# /etc/systemd/system/docker-cpuchaind.service/local.conf
# http://www.freedesktop.org/software/systemd/man/systemd.unit.html

# Clean-up bad state if still hanging around
ExecStartPre=-/usr/bin/docker rm -f $NAME

# Attempt to pull new image for security updates
ExecStartPre=-/usr/bin/docker pull $IMG

# Main process
ExecStart=/usr/bin/docker run --rm -v ${DATA_VOL}:/cpuchain --name ${NAME} -p ${PORT} ${IMG} cpu_oneshot $ARGS

[Install]
WantedBy=multi-user.target
